{{define "main"}}
<section id="content-block" class="block sections resource-page">
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="col-md-12">
                    <div class="s-title faq-page-title">
                        <h4>General Resources</h4>
                        <div class="title-line">
                            <hr class="t-line">
                            <hr class="b-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <ul>
                        <li>
                            <a href="/belresources/">BEL Resources</a>
                        </li>
                        <li>
                            <a href="/blog/">Blog</a>
                        </li>
                        <li>
                            <a href="/releasenotes/">Release Notes</a>
                        </li>
                        <li>
                            <a href="/faqs/">FAQ's</a>
                        </li>
                        <li>
                            <a href="/presentations/">Presentations</a>
                        </li>
                        <li>
                            <a href="/publications/">Publications</a>
                        </li>
                        <li>
                            <a href="/videos/">Videos</a>
                        </li>
                        <li>
                            <a href="/webinars/">Webinars</a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
{{ partial "scripts.html" . }}
{{end}}