// colors
$blue: #3790ec;
$greenBtn: #20c583;

* {
  font-family: Roboto, sans-serif;
}



@keyframes MoveLeftRight {
  0%, 100% {
    left: -2px;
  }
  50% {
    left: -7px;
  }
}

// Header //
#banner {
  background-image: url(../img/bg-network_nodes.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 10px;
  .nav {
    .nav-item {
      color: $blue;
      font-size: 20px;
      padding: 10px;
      font-weight: 300;
    }
  }
}

#banner-bar {
  background-color: #eef4fa;
  height: 23px;
}

#demo-container {
  min-height: calc(100vh - 182px);
  overflow: hidden;
  #demo-left {
    // display: flex;
    // align-items: center;
    padding: 35px;
    padding-top: 0px;
    padding-bottom: 35px;

    .row {
      padding-top: 30px;
    }
    .demo-title-1 {
      font-size: 35px;
      font-weight: 300;
      color: $blue;
    }

    .demo-paragraph {
      line-height: 20px;
    }
    #demo-card {
      font-size: 17px;

      span {
        font-weight: 600;
      }
    }

    .btn-container {
      #launch-btn {
        background-color: $greenBtn;
        color: #fff;
        font-size: 19px;
        padding: 15px;
        &:hover{
          background-color: #07b26e;
        #button-right-arrow{
          position: relative;
          
            animation: MoveLeftRight 1s ease-out infinite;
          }
        }
      }
    }

    .card {
      border: 1px solid #e8e8e8;
      background-color: #e8e8e8;
    }

    #clean-up-notice-container {
      .clean-up-note {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  #demo-right {
    background-image: url(../img/blue_node_bg.png);
    background-color: $blue;
    padding: 35px;
    // display: flex;
    // align-items: center;
    .row {
      padding-top: 30px;
    }
    #video-container {
      display: flex;
      justify-content: center;
      .video {
        @media (min-width: 300px) {
          height: 202px;
          width: 350px;
        }
        @media (min-width: 768px) {
          height: 322px;
          width: 570px;
        }
        @media (min-width: 992px) {
          height: 222px;
          width: 370px;
        }
        @media (min-width: 1198px) {
          height: 322px;
          width: 570px;
        }
      }
    }

    .demo-title-2 {
      font-size: 24px;
      font-weight: 300;
      color: #fff;
    }

    .demo-paragraph-right-1 {
      font-size: 17px;
      line-height: 20px;
      color: #fff;
      font-weight: 300;
    }
    .demo-paragraph-right-2 {
      font-size: 14px;
      line-height: 16px;
      color: #fff;
    }
  }

  .inline-icon {
    margin-right: -15px;
    margin-left: -15px;
  }
}

#footer {
  font-size: 12px;
  background-color: #f1f1f1;
  color: #9b9da2;
  a {
    color: inherit;
  }

  #footer-text {
    padding: 25px;
  }
}

@media (max-width: 992px) {
  #demo-left {
    text-align: center;
    #demo-card-container {
      text-align: left;
    }
  }
  #demo-right {
    text-align: center;
  }
  #clean-up-notice-container {
    .reset-icon {
      display: none;
    }
  }
  #chat-action {
    .chat-icon {
      display: none;
    }
  }
}
