/* =======================================================================
Blue Crown - One Page Creative Parallax Template
======================================================================= */

/*
    1. TYPOGRAPHY
    2. GLOBAL STYLES
    3. HEADER
    4. NAVGITION
    5. videos
    6. FEATURES
    7. SERVICES
    8. QUOTE
    9. WORK
    10. TESTIMONIALS
    11. PRICING
    12. BLOG
    13. CONTACT
    14. FOOTER
    15. CONTACT PAGE  
*/

/*---------------------------------------
  1. TYPOGRAPHY                
-----------------------------------------*/

/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

@import url("https://fonts.googleapis.com/css?family=Poppins:700,500");

/* --------------------------------------
  2. GLOBAL STYLES
-----------------------------------------*/

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow-x: hidden;
  color: #1c1c1c;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #1c1c1c;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: #1c1c1c;
  }
  &:focus {
    text-decoration: none;
  }
}

p,
span,
h1,
h2,
h3,
h4,
h5,
a {
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 27px;
}

img {
  max-width: 100%;
  height: auto;
}

.clear {
  clear: both;
}

.sections {
  padding: 120px 0;
}

.black-bg {
  background-color: #212121;
  color: #fff;
}

/* TITLE */

.s-title {
  margin-bottom: 60px;
  padding-left: 15px;
  h4 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
  }
}

.title-line {
  margin-top: 15px;
  hr {
    border-width: 2px;
    margin: 0;
    &.t-line {
      width: 95px;
    }
    &.b-line {
      margin-top: 5px;
      width: 50px;
    }
  }
}

/* PRELOADER */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9999999999999;
}

.load-circle {
  margin: 45vh auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #e8e8e8;
  border-top: 2px solid #212121;
  -webkit-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*---------------------------------------
  3. HEADER                
-----------------------------------------*/

.s-header {
  background: url("../img/dna.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden !important;
}

.nav-header {
  background: #fff;
  height: 50px;
  width: 100%;
  position: relative;
  .nav-header {
    position: !important;
  }
}

#particles-overl {
  height: 99vh;
}

.s-header {
  .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .middle-c {
    color: #fff;
    position: absolute;
    width: 100%;
    top: 49.5%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    .capt {
      margin: 0 auto;
      margin-top: 50px;
      float: left;
      text-align: left;
    }
    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
    }
    p {
      font-weight: 400;
      font-size: 15.5px;
      margin: 30px 0 35px 0;
    }
    a {
      margin: 0 10px;
      border: 2px solid #fff;
      display: inline-block;
      font-size: 11px;
      padding: 9px 35px;
      letter-spacing: 2px;
      color: #fff;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      font-weight: 600;
      background-color: transparent;
      text-transform: uppercase;
      &:hover {
        background: #fff;
        color: #232323;
        border-color: #fff;
      }
    }
    .cta-btn {
      color: #fff;
    }
    a:first-child {
      margin-left: 0;
    }
  }
}

/* --------------------------------------
  4. NAVGITION
-----------------------------------------*/

.navbar {
  //background-color: rgba(0,0,0,0.2);
  border-color: transparent;
  padding: 20px 0 30px;
  background: 0 0;
  border: none;
  border-radius: 0;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .navbar-nav > li {
    font-size: 16px;
    margin: 30px 23px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    &:last-child {
      margin-right: 14px;
    }
    > a {
      color: rgba(255, 255, 255, 0.95);
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      &:focus {
        background: transparent;
      }
      &:hover {
        background: transparent;
        color: rgba(255, 255, 255, 0.75);
      }
      padding-bottom: 20px;
    }
  }
  .nav li > a {
    position: relative;
  }
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 40px;
  clear: both;
  color: #323232;
}

.nav {
  > li > a {
    &:focus,
    &:hover {
      background: transparent;
    }
  }
  .open > a {
    background: transparent;
    &:focus,
    &:hover {
      background: transparent;
    }
  }
}

.dropdown-menu > li > a {
  &:focus,
  &:hover {
    background: #efefef;
  }
}

.leftauto {
  right: 0 !important;
  left: auto !important;
}

.navbar {
  > {
    .container .navbar-brand,
    .container-fluid .navbar-brand {
      padding-top: 16px;
      margin-left: 0;
      img {
        height: 50px;
        width: auto;
      }
    }
  }
  .logo {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding-top: 15px;
    .dark-logo {
      display: none;
    }
    .white-logo {
      display: block;
    }
    font-weight: 700;
    font-size: 28px;
    display: inline-block;
    &:focus,
    &:hover {
      font-weight: 700;
      font-size: 28px;
      display: inline-block;
    }
  }
}

.fixed {
  background: #fff;
  background-image: url(../img/bg-network_nodes.png);
  background-repeat: no-repeat;
  background-position: 80% 00%;
  padding: 0;
  position: fixed;
  -webkit-box-shadow: 0 0 13px #ddd;
  -moz-box-shadow: 0 0 13px #ddd;
  -o-box-shadow: 0 0 13px #ddd;
  -ms-box-shadow: 0 0 13px #ddd;
  box-shadow: 0 0 13px #ddd;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  z-index: 999;

  @media screen and (min-width: 768px) {
    background-position: 100%;
  }
  .navbar-nav > li {
    > {
      a {
        color: #555;
        &:hover {
          color: #555;
          opacity: 0.7;
        }
      }
      .dropdown-menu {
        margin-top: 9px;
      }
    }
    margin: 30px 23px 10px 23px;
  }
  .logo {
    padding-top: 25px;
    .white-logo {
      display: none;
    }
    .dark-logo {
      display: block;
    }
  }
}

.navbar-toggle .icon-bar {
  background: #fff;
}

/* --------------------------------------
  5. videos
-----------------------------------------*/
#overview-demo {
  //background-color: rgba(24, 35, 66, 0.1);
  //padding: 15px;
}
.video {
  text-align: center;

  .list-title {
    margin-bottom: 1.25rem;
  }
  .container-video {
    padding: 0px;
    background-color: #000;
    -webkit-box-shadow: 0px 05px 40px -2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 05px 40px -2px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 05px 40px -2px rgba(0, 0, 0, 0.55);
    margin: 20px 15px 40px;
    video {
      height: auto;
      width: 100%;
    }
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-weight: 400;
    color: #585858;
    font-size: 13.5px;
    margin: 30px 0;
  }
  a {
    border: 1px solid #212121;
    display: inline-block;
    font-size: 11px;
    padding: 9px 35px;
    letter-spacing: 2px;
    color: #212121;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-weight: 600;
    background-color: transparent;
    text-transform: uppercase;
    i {
      padding-right: 5px;
    }
    &:hover {
      background-color: #212121;
      color: #fff;
    }
  }
}

/* --------------------------------------
  6. FEATURES
-----------------------------------------*/

.features .feat-item {
  padding: 0 7px;
  .icon,
  i {
    float: left;
    font-size: 40px;
  }
  .feat-info {
    margin-left: 70px;
    h5 {
    }
    p {
      font-size: 13px;
      color: #ddd;
      font-weight: 400;
    }
  }
}

.uses {
  display: block;
  position: relative;
  font-weight: 300;
  color: #ddd;
  &:before {
    content: "";
    background: #212121;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -2;
  }
  &::after {
    content: "";
    background: url(../img/bg-nodes_edges.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 55%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .icons {
    margin-bottom: 10px;
  }
  .uses-container {
    display: flex;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    z-index: 1;
    #uses-title {
      font-family: "Poppins", sans-serif;

      font-size: 38px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    #uses-paragraph {
      font-size: 2rem;
      margin: 0px 35px 40px;
    }

    #uses-col {
      display: flex;

      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    #uses-list {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      font-size: 2rem;

      li {
        text-transform: uppercase;
        margin-bottom: 15px;
        padding-bottom: 5px;
        position: relative;
        font-family: "Poppins", sans-serif;
        &:before {
          font-family: FontAwesome, regular;
          font-style: normal;
          content: "\f058";
          display: inline-block;

          margin-right: 10px;
          color: mediumseagreen;
        }
      }
    }
  }
}

/* --------------------------------------
  7. SERVICES
-----------------------------------------*/

.services {
  padding: 120px 0 40px 0;
}
.serve-co {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.serv-item {
  padding-right: 30px;
  margin-bottom: 80px;

  .serv-icon {
    font-size: 40px;
  }
  h3 {
    margin: 15px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 17px;
  }
  p {
    font-weight: 400;
    font-size: 13px;
    color: #585858;
  }
}

/* --------------------------------------
  7. SERVICES
-----------------------------------------*/

.components {
  padding: 0px 0 120px 0;
}
.comp-co {
}
.comp-item {
  padding-right: 50px;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;

  .comp-icon {
    font-family: "biodati-icons";
    font-size: 40px;
    //margin-top: 15px;
    width: 0px;
    padding-right: 50px;
    margin-right: 25px;
    //border-bottom: #1c1c1c 2px solid;
    //margin-bottom: 10px;
    color: #3bafda;

    .icon-networks,
    .icon-nanopub {
      font-size: 56px;
    }
  }
  h3 {
    margin: 0px 0px 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #1c1c1c;
  }
  p {
    font-weight: 400;
    font-size: 13px;
    color: #585858;
  }
}

/* --------------------------------------
  8. QUOTE
-----------------------------------------*/

.focus {
  text-align: center;
  position: relative;
  color: #ddd;
  .focus-overlay {
    position: relative;

    .s-title {
      text-align: left;
      .t-line,
      .b-line {
        border-color: mediumseagreen !important;
      }
    }

    &:before {
      content: "";
      background: #212121;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: -2;
    }
    &::after {
      //content: "";
      background: url("../img/bitmap-bw-transparent.png");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: 110%;
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -2;
    }

    .focus-co {
      display: flex;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
    }
    .focus-item {
      padding: 0px;
      margin: 0px 15px;
      margin-bottom: 40px;
      overflow: hidden;
      background: #101010;

      .focus-icon {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 18rem;
        margin-right: 10px;
        color: #ddd;
        opacity: 0.1;
        z-index: 1;
      }

      .focus-icon-leaf {
        bottom: -60px;
        right: -40px;
      }

      .focus-icon-flask {
        bottom: -53px;
        right: -56px;
      }
      .focus-icon-heart {
        font-size: 19rem;
        bottom: -55px;
        right: -45px;
      }

      .focus-icon-cap {
        bottom: -35px;
        right: -85px;
      }

      h3 {
        display: flex;
        //border-bottom: 1px solid #fff;
        padding: 12px 0px;
        justify-content: center;
        align-items: center;
        background: #000;
        //border: 1px solid #fff;

        margin: 0px 0px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 2.1rem;
        color: mediumseagreen;
      }
      .card-body {
        font-weight: 300;
        display: flex;
        padding: 30px 0px 45px;

        height: 100%;
        li {
          list-style: inherit;
          text-align: left;
          margin-left: 35px;
          margin-bottom: 30px;
          margin-right: 20px;
          font-size: 1.6rem;
        }
      }
    }
  }
}

/* --------------------------------------
  9. WORK
-----------------------------------------*/

.work {
  .filter-work {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 45px;
    margin-left: 15px;
    a {
      color: #666;
      background: transparent;
      text-transform: uppercase;
      font-weight: 400;
      padding: 7px 30px;
      cursor: pointer;
      font-size: 13px;
      margin: 0 1px;
      border-radius: 2px;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      display: inline-block;
    }
    .is-checked {
      color: #fff;
    }
  }
  .work-item {
    padding: 0 0px 10px 14px;
    width: 33%;
  }
  .work-caption {
    position: relative;
    img {
      height: auto;
      width: 100%;
      max-width: 100%;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: ease-out 0.3s;
      -moz-transition: ease-out 0.3s;
      -o-transition: ease-out 0.3s;
      transition: ease-out 0.3s;
      opacity: 0;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      &:focus {
        outline: none;
      }
      span,
      i {
        color: #fff;
      }
    }
  }
  .work-item:hover .overlay {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  .work-caption {
    .info-content {
      position: absolute;
      bottom: 20px;
      left: 20px;
      text-align: left;
      h4 {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        position: relative;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        color: #eee;
        font-style: italic;
      }
    }
    .know-more {
      position: absolute;
      bottom: 20px;
      right: 20px;
      text-align: left;
      font-size: 30px;
    }
    &:focus {
      outline: none;
    }
  }
  .work-item:focus {
    outline: none;
  }
  .work-caption {
    img:focus,
    a:focus {
      outline: none;
    }
  }
}

/* --------------------------------------
  10. TESTIMONIALS
-----------------------------------------*/

.testimonials {
  .title p {
    color: #fff;
  }
  .icon {
    font-size: 45px;
    display: inline-block;
    margin-bottom: 45px;
    color: #fff;
  }
}

.testimonial-box {
  margin: 0 auto;
  float: none;
  padding-left: 30px;
  p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
  }
  h3 {
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-bottom: 45px;
    font-weight: 600;
  }
}

.t-item .testimonial-box h3 span {
  font-family: "Open Sans", sans-serif;
  position: relative;
  text-transform: none;
  display: block;
  letter-spacing: 0.5px;
  color: #aab2bd;
  font-style: italic;
}

.owl-theme {
  .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .owl-dots {
    .owl-dot {
      span {
        width: 11px;
        height: 11px;
        margin: 0 8px;
        background: transparent !important;
        border: 2px solid #fff !important;
      }
      &:focus {
        outline: none;
      }
    }
    .active span {
      background: #fff !important;
    }
  }
}

/* --------------------------------------
  11. PRICING
-----------------------------------------*/

.price {
  background-color: #f2f4ec;
}

.price-table .item {
  background: #fff;
  padding: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.price-c .best .item {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.price {
  .item {
    .type {
      margin: 0 0 50px;
      h5 {
        font-size: 25px;
        letter-spacing: 3px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }
    }
    .mount {
      margin: 0 0 50px;
      h3 {
        font-size: 55px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        span {
          font-size: 25px;
          font-weight: 400;
          padding-right: 5px;
        }
      }
    }
    .p-feat {
      margin: 0 0 50px;
      width: 100%;
      p {
        padding-bottom: 15px;
        margin-bottom: 10px;
        color: #7e7e7e;
        font-size: 13.5px;
        font-weight: 400;
        &:last-child {
          border-width: 0;
          margin-bottom: 0;
        }
      }
    }
    .order a {
      width: 90%;
      color: #333;
      border: 1px solid #333;
      display: inline-block;
      font-size: 12px;
      padding: 9px 15px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #212121;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      font-weight: 400;
    }
  }
  .order a:hover {
    color: #fff;
  }
}

/* --------------------------------------
  12. BLOG
-----------------------------------------*/

.blog {
  padding: 120px 0 90px 0;
}

.blog-item {
  border: 1px solid #e6e6e6;
  display: inline-block;
  width: 100%;
  padding: 40px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  a:focus {
    color: #111;
  }
  .categ {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
  }
  a:hover {
    color: #212121;
  }
  h4 {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  p {
    color: #555;
    font-weight: 400;
    font-size: 13.5px;
    margin-bottom: 25px;
  }
  .post-link a {
    font-size: 13px;
    font-weight: 600;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }
}

.feature-box-img {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-size: cover;
  background-position: center center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(12, 12, 12, 0.7);
    opacity: 0;
  }
}

.blog-item:hover {
  a,
  i,
  span {
    color: #fff;
    opacity: 1;
  }
  .feature-box-img {
    color: #fff;
    opacity: 1;
    &::after {
      color: #fff;
      opacity: 1;
    }
  }
  p {
    color: #fff;
    opacity: 1;
  }
}

/* --------------------------------------
  13. CONTACT
-----------------------------------------*/

.contact {
  .left-side {
    h5 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 18.5px;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
    p {
      color: #ccc;
      font-size: 13px;
      font-weight: 400;
    }
  }
  .con-info {
    margin-top: 50px;
  }
  .info-item {
    margin-bottom: 25px;
    span {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #fff;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      display: inline-block;
      margin: 0 25px 0 0;
      text-align: center;
      font-size: 14px;
    }
    p {
      display: inline-block;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.right-side {
  padding-right: 0;
}

.contact-item:last-child,
.contact .item:last-child {
  margin-bottom: 0;
}

.contact-form {
  span {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
  }
  textarea,
  input {
    width: 100%;
    font-weight: 400;
    float: left;
    font-size: 14px;
    padding: 15px 15px;
    border: none;
    background: #fff;
    border: 1px solid #fff;
    color: #232323;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }
}

.contact-item {
  margin-bottom: 25px;
  textarea {
    height: 180px;
  }
  input:focus,
  textarea:focus {
    outline: none;
  }
  .button {
    width: 100%;
    padding: 15px 60px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    margin-bottom: 0;
    background: transparent;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .parsley-required {
    color: #a94442;
    float: left;
    margin: 7px 0 0 0;
  }
}

.parsley-type {
  color: #a94442;
  float: left;
  margin: 7px 0 0 0;
}

#map {
  height: 500px;
  position: relative;
}

/* --------------------------------------
  14. FOOTER
-----------------------------------------*/

footer {
  text-align: center;
  padding: 15px 0px !important;
  background: rgb(243, 243, 243);
  .sc-icon span {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    background: #171717;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    display: inline-block;
    margin: 0 7px;
  }
}

.sub-footer {
  text-align: center;
  padding: 0px 0 0 0;
  margin-top: 0px;
  span {
    font-weight: 400;
  }
}

/*---------------------------------------
  15. CONTACT PAGE                
-----------------------------------------*/

.contact-p {
  background: #fafafa;
}

.contact-f {
  float: none;
  text-align: center;
  background: #fff;
  margin: 80px auto;
  padding: 60px 30px;
  -webkit-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
  h3 {
    font-size: 19px;
    margin-top: 30px;
  }
}

.contact-success i {
  color: #8cc152;
}

.contact-nosuccess i {
  color: #e9573f;
}

.footer .f-co a {
  color: #232323;
}

//modals
.modal {
  .close {
    color: #ddd;
    text-shadow: 0 1px 0 #060606;
  }
  &-header {
    border-bottom: 0px;
    background: #000;
    .s-title {
      h4 {
        font-size: 18px;
      }

      .b-line,
      .t-line {
        border-color: mediumseagreen;
      }
      margin-bottom: 0px !important;
    }
  }

  &-body {
    padding: 25px 15px;
    form {
      //display: flex;
      flex-direction: column;
      .contact-item {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        input {
          width: 100%;
          font-weight: 400;
          float: left;
          font-size: 14px;
          padding: 10px 10px;
          border: none;
          background: #fff;
          margin-top: 5px;
          color: #232323;
          -webkit-transition: ease-out 0.3s;
          -moz-transition: ease-out 0.3s;
          -o-transition: ease-out 0.3s;
          transition: ease-out 0.3s;
          -webkit-box-shadow: inset -5px 5px 5px -6px rgba(61, 61, 61, 1);
          -moz-box-shadow: inset -5px 5px 5px -6px rgba(61, 61, 61, 1);
          box-shadow: inset -5px 5px 5px -6px rgba(61, 61, 61, 1);
        }

        .button {
          background: mediumseagreen;
          border-radius: 40px;
          border-color: mediumseagreen;
          box-shadow: none;
          padding: 9px 35px;
          line-height: 27px;
          color: #fff;
          &:hover {
            background: #fff;
            border-color: #fff;
            color: #212121;
          }
        }
      }
    }
    display: flex;
  }

  &-content {
    overflow: hidden;
    background: #212121;
    color: #ddd;
  }
}
