{{define "main"}}
<section id="content-block" class="block about-page">
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="col-md-12">
                    <div class="s-title about-page-title">
                        <h4>About Us </h4>
                        <div class="title-line">
                            <hr class="t-line">
                            <hr class="b-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <p class="about-p">BioDati is empowering Life Sciences. With the largest computable biological knowledgebase, our mission is to advance research, drug development, precision medicine and data science/deep learning by making biological knowledge <span style="font-weight: 600;">Shareable, Reusable and Computable.</span>
                    </p>
                    <p class="about-p">BioDati allows all of your new research to easily be combined with your prior
                        knowledge to be used by biologists and researchers to search, generate models, and analyze while
                        maintaining full provenance of the knowledge at all times.</p>
                </div>
            </article>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
        <div class="row">
            <article class="col-md-12">
                <div class="col-md-12">
                    <div class="s-title team-page-title">
                        <h4>Meet Our Team</h4>
                        <div class="title-line">
                            <hr class="t-line">
                            <hr class="b-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 team-members">
                    <div class="row">
                        <div class="col-md-6  team-member">
                            <div class="team-member--img-wrapper">
                                <img src="https://via.placeholder.com/150" />
                            </div>
                            <div class="team-member-content">
                                <h5>Anselmo DiFabio</h3>
                                    <h6>Chief Executive Officer</h6>
                                    <p class="text-truncate truncate" id>Our company’s CEO, Anselmo DiFabio, is an accomplished
                                        leader in the digital media industry. His expertise spans across building
                                        computational platforms and making complex interfaces straightforward and user
                                        friendly. Mr. DiFabio is passionate about building systems that will help change
                                        the world and is driven to making biology sharable, computable and reusable for
                                        the community.</p>
                                        <a class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6  team-member">
                            <div class="team-member--img-wrapper">
                                <img src="https://via.placeholder.com/150" />
                            </div>
                            <div class="team-member-content">
                                <h5>Dr. William Hayes</h3>
                                    <h6>Chief Scientific Officer</h6>
                                    <p class="text-truncate truncate">Dr. William Hayes, one of the co-founders and CSO of BioDati, Inc, is an
                                        experienced leader in bioinformatics, biological knowledge representation,
                                        knowledge text mining, and BEL. Dr. Hayes has worked in developing BEL and BEL
                                        resources as well as educating the scientific community about BEL for over seven
                                        years and has worked in both bioPharma and Healthcare.</p>
                                        <a class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  team-member">
                            <div class="team-member--img-wrapper">
                                <img src="{{ $.Site.BaseURL }}/img/Judith.jpg" />
                            </div>
                            <div class="team-member-content">
                                <h5>Dr. Judith Gorski</h3>
                                    <h6>Executive Vice President, <br />
                                        Sales and Marketing</h6>
                                    <p class="text-truncate truncate">Dr. Judith Gorski, EVP of Sales and Marketing, with over 20 years in the Life
                                        Sciences, has a deep understanding of the drug discovery process and healthcare
                                        industry. As a fellow Biologist, she is familiar with challenges of computing
                                        and
                                        sharing knowledge. Her focus is marketing strategy and commercial drive of
                                        BioDati.
                                    </p>
                                    <a class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6  team-member">
                            <div class="team-member--img-wrapper">
                                <img src="{{ $.Site.BaseURL }}/img/Wendy.png" />
                            </div>
                            <div class="team-member-content">
                                <h5>Dr. Wendy Zimmerman</h3>
                                    <h6>Director of Knowledge</h6>
                                    <p class="text-truncate truncate">Dr. Wendy Zimmerman is an experienced Biochemist and Cell Biologist with a strong
                                        publication record and drug discovery experience. As a highly skilled and
                                        experienced curator of biological information, Dr. Zimmerman manages BioDati
                                        knowledge resources. Dr. Zimmerman received her PhD in Biochemistry and
                                        Molecular
                                        Biology, Cell Biology from the UMass Medical School.</p>
                                        <a class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 read-more-body">
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="anselmo">
                                <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="william">
                                <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
{{ partial "contactModal.html" . }}
{{ partial "scripts.html" . }}
{{end}}