{{define "main"}}
<section id="content-block" class="block platform-page">
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="col-md-12">
                    <div class="s-title platform-page-title">
                        <h4>Our Platform</h4>
                        <div class="title-line">
                            <hr class="t-line">
                            <hr class="b-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <p class="platform-p">Our platform captures biology assertions along with their provenance and the experimental context as nanopublications using BEL, an open standards-based language for biology. User-curated knowledge is enhanced and enriched through normalization, orthologization, semantic and syntactic validation, and foundational knowledge enrichment. The end result ? A fully connected graph of biological knowledge. This programmatically extended knowledge provides the foundation for the generation of biological models and prior knowledge-driven algorithmic analytics.</p>
                </div>
                <div class="col-md-6 platform-lists">
                    <ul>
                        <li>Pathway analysis</li>
                        <li>Knowledge capture and reuse</li>
                        <li>Expert curation</li>
                        <li>Collaborative knowledge sharing</li>
                        <li>Computable knowledgebase</li>
                    </ul>
                    <h4 class="platform-title">Coming Soon:</h4>
                    <ul>
                        <li>Biological consistency analysis</li>
                        <li>Data science and predictive analytics</li>
                    </ul>
                    
                </div>
                <div class="col-md-12">
                    <img class="platform-img" src="{{ $.Site.BaseURL }}/img/ourplatform.png" />
                </div>
            </article>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
{{ partial "scripts.html" . }}
{{end}}