{{ define "main" }}
<section id="content-block" class="block policy-page">
  <div class="container">
    <div class="row">
      <article class="col-md-12">
        <div class="col-md-12">
          <div class="s-title about-page-title">
              <h4>Privacy Policy</h4>
              <div class="title-line">
                  <hr class="t-line">
                  <hr class="b-line">
              </div>
          </div>
      </div>
        <div class="col-md-12">
          <p>
            <strong>1.</strong> BioDati, Inc., 1501 Main Street, 07065 (BD) owns
            and operates a website and database under the URL www.biodati.com
            (Website). The aim of this website is to inform users about our
            company and our products.
          </p>
          <p>
            <strong>2.</strong> This Privacy Policy (Policy) describes how BD
            collects and processes personal data (as defined below) on and in
            connection with the use of the Website. The Website is accessible
            without registration (Visitor). By using the Website every Visitor
            (defined below) acknowledges and agrees to this Policy.
          </p>
          <p>
            <strong>3.</strong> BD will collect personal data of Visitors, such
            as, but not limited to, as name, email address, session durations,
            page impressions, browser type, internet protocol (IP) addresses,
            and password (Personal Data).
          </p>
          <p>
            <strong>4.</strong> BD may use such Personal Data, for operating the
            Website, for promotion of the Website, for improving the Website and
            services, for analyzing the usage of the Website, for research and
            development, for technical operations and maintaining security, for
            statistical and market research purposes, for complying with
            applicable laws and regulations and for other purposes provided for
            or permitted by law (Purpose).
          </p>
          <p>
            <strong>5.</strong> BD may share the Personal Data for the Purpose
            with its affiliates, with third parties who directly or indirectly
            acquire businesses or parts thereof from BD.
          </p>
          <p>
            <strong>6.</strong> For residents of the European Economic Area and
            Switzerland, please note that your Personal Data may be transferred
            outside the European Economic Area and Switzerland to countries
            which do not provide an adequate level of protection according to
            data protection regulations of the European Economic Area and
            Switzerland. We will take all steps reasonably necessary to ensure
            that your Personal Data is treated securely and in accordance with
            this Privacy Policy and the rules in respect of such disclosure,
            storage, and transfer. By using the Website, you expressly agree to
            such disclosure, storage, and transfer.
          </p>
          <p>
            <strong>7.</strong> The Website may use cookies. Cookies are packets
            of information sent by BD&#8217;s server to the User&#8217;s or
            Visitor&#8217;s web browser and then sent back by the browser. BD
            may use cookies for various purposes, for example, to save the need
            to re-enter a password each time a User log-in or to facilitate the
            use of the Website, to collect information for statistical and
            analytical purposes (e.g., using Google Analytics), etc. A Visitor
            or User may configure their web browser to deny any installation of
            cookies. For further information please refer to our
            <a href="http://biodati.com/cookies/">Cookie Policy</a>.
          </p>
          <p>
            <strong>8.</strong> Google Analytics, owned by Google, Inc.
            (Google), is a web analytics service used by this Website to monitor
            how you use the Website so that we can improve the Website. Google
            Analytics also uses cookies to help it analyze how users use the
            Website. The information generated by the cookie about your use of
            the website (including your IP address) will be transmitted to and
            stored by Google on servers in the United States of America or
            elsewhere. Google will use this information for the purpose of
            evaluating your use of the Website, compiling reports on Website
            activity for website operators and providing other services relating
            to Website activity and Internet usage. Google may also transfer
            this information to third parties where required to do so by law, or
            where such third parties process the information on Google&#8217;s
            behalf. By using this Site, you consent to the processing of data
            about you by Google in the manner and for the purposes set out
            above.
          </p>
          <p>
            <strong>9.</strong> This Policy may change at any point in time with
            immediate effect and without prior announcement by it being
            published on the Website. By providing your Personal Data to BD, you
            agree that it may be processed as set forth herein. If you have any
            questions or requests, including any request for access, correction
            or objection, please contact privacy @ biodati.com
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
{{ partial "contactModal.html" . }}
{{ partial "scripts.html" . }}
{{ end }}
