{{define "main"}}
<section id="content-block" class="block">
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="col-md-12">
                    <h2> Cookies </h2>
                </div>
                <div class="col-md-12">
                    <p>As explained in our Privacy Policy, the Service collects information through the use of
                        &#8220;cookies&#8221; or similar technologies. Cookies are widely used in order to make
                        websites and applications work, or work more efficiently, and help them remember certain
                        information about you, either for the duration of your visit (using a &#8220;session&#8221;
                        cookie) or for repeat visits (using a &#8220;persistent&#8221; cookie).</p>
                    <p>The cookies used on this website are as follows:</p>
                    <ul>
                        <li><strong>Strictly necessary cookies.</strong> These cookies are essential in order to
                            enable you to move around the website and use its features, such as accessing secure
                            areas of the website. For example, authentication and security cookies are used to
                            identify and recognize registered users and to enable them to gain access to requested
                            content or features. Without these cookies, services you have asked for cannot be
                            provided.</li>
                        <li><strong>Functionality cookies.</strong> These cookies allow our websites to remember
                            the choices you make and your account preferences and to provide enhanced, more
                            personal features. For example, these cookies will remember your log-in details.</li>
                        <li><strong>Performance cookies.</strong> These are analytics and research cookies that
                            allow us to collect information about how visitors use a website, for instance which
                            pages visitors go to most often, and if they get error messages from web pages. This
                            helps us to improve the way the website works and allows us to test different ideas on
                            the site.</li>
                        <li><strong>Targeting cookies.</strong> These cookies record your visit to the website, the
                            pages you have visited and the links you have followed. We will use this information to
                            make the website and the advertising displayed on it more relevant to your interests.
                            We may also share this information with third parties for this purpose.</li>
                    </ul>
                    <p>The table below explains performance and targeting cookies from our suppliers and their
                        purpose. Please note that the cookies and other technologies may change over time.</p>
                    <div class="table-responsive">
                        <table class="table" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th scope="col">Service</th>
                                    <th scope="col">Purpose</th>
                                    <th scope="col">More Info</th>
                                </tr>
                                <tr>
                                    <td>Google Analytics and Google DoubleClick</td>
                                    <td>These web analytics cookies, provided by Google Inc., are used to collect
                                        information about how visitors use our site. We use the information to
                                        compile reports and to help us improve the site. In addition, we use
                                        first-party cookies (such as the Google Analytics cookie) and third-party
                                        cookies (such as the Google DoubleClick cookie) together to help us measure
                                        and optimise the effectiveness of our online marketing campaigns.</td>
                                    <td>See <a href="https://support.google.com/analytics/answer/6004245">Google
                                            Analytics Cookies and Privacy Controls and DoubleClick Privacy and
                                            Security</a></td>
                                </tr>
                                <tr>
                                    <td>Adobe Analytics and Adobe Audience Manager</td>
                                    <td>These web analytics cookies, provided by Adobe Systems Inc., are used to
                                        differentiate requests from different browsers and to store helpful
                                        information that an application can use later. They may also be used to
                                        associate browsing information to customer records. In particular,
                                        Analytics uses cookies to anonymously define new visitors, help analyze
                                        clickstream data, and track historical activity on the website, such as
                                        response to particular campaigns or the length of the sales cycle.</td>
                                    <td>See <a
                                            href="https://marketing.adobe.com/resources/help/en_US/whitepapers/cookies/cookies_analytics.html">Adobe
                                            Analytics and Other Adobe Cookies</a></td>
                                </tr>
                                <tr>
                                    <td>Optimizely</td>
                                    <td>These cookies, provided by Optimizely Inc., are used to provide an A/B
                                        testing framework that helps us to experiment with new features on our site
                                        and analyse how those features are performing.</td>
                                    <td>See <a href="https://www.optimizely.com/privacy/">Optimizely Privacy Policy</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Facebook</td>
                                    <td>These cookies, provided by Facebook, are set when a visitor is logged in to
                                        or otherwise using their service. This allows a user to easily comment or
                                        share an article with their peers through the social network. They also
                                        help us measure and optimise the effectiveness of our online marketing
                                        campaigns and service you with advertisements that may be relevant to you
                                        and your interests.</td>
                                    <td>See <a href="https://www.facebook.com/policies/cookies/">Facebook Cookies
                                            Policy</a></td>
                                </tr>
                                <tr>
                                    <td>Twitter</td>
                                    <td>These cookies, provided by Twitter, are used in conjunction with the
                                        Twitter social plugins in order to allow following our Twitter account
                                        easily, share content via Twitter, and to display the latest tweet. Twitter
                                        makes use of cookies to improve its own service.</td>
                                    <td>See <a href="https://twitter.com/en/privacy">Twitter Privacy Policy</a></td>
                                </tr>
                                <tr>
                                    <td>New Relic</td>
                                    <td>These cookies, provided by New Relic, Inc., are used to collect information
                                        about how visitors interact with our website. We use the information to
                                        compile reports and to help us improve the website.</td>
                                    <td>See <a href="https://newrelic.com/termsandconditions/privacy">New Relic
                                            Privacy Policy</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2>How to refuse the use of cookies</h2>
                    <p>You can prevent your browser from accepting certain cookies, have the browser require your
                        consent before a new cookie is placed in your browser, or block cookies altogether by
                        selecting the appropriate settings on your browser privacy preferences menu. To avoid
                        receiving cookies on the browser of your mobile device, you will need to refer to its user
                        manual. For information on how to opt-out of cookies set by our suppliers, please visit the
                        applicable links listed in the table above.</p>
                    <p>The links below will help you find the settings for some common browsers:</p>
                    <ul>
                        <li>Manage cookie settings in <a
                                href="https://support.google.com/chrome/answer/95647?hl=en">Chrome</a>
                            and <a
                                href="https://support.google.com/chrome/answer/95647?hl=en&amp;co=GENIE.Platform%3DAndroid&amp;oco=1">Chrome
                                Android</a> and <a
                                href="https://support.google.com/chrome/answer/95647?hl=en&amp;co=GENIE.Platform%3DiOS&amp;oco=1">Chrome
                                iOS</a></li>
                        <li>Manage cookie settings in <a
                                href="https://support.apple.com/kb/PH19214?locale=en_US">Safari</a>
                            and <a href="https://support.apple.com/en-gb/HT201265">Safari iOS</a></li>
                        <li>Manage cookie settings in <a
                                href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Firefox</a>
                        </li>
                        <li>Manage cookie settings in <a
                                href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet
                                Explorer</a></li>
                        <li>Manage cookie settings in <a
                                href="https://www.opera.com/help/tutorials/security/privacy/">Opera</a></li>
                    </ul>
                </div>
            </article>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
{{ partial "scripts.html" . }}
{{end}}