{{define "main"}}
<section id="content-block" class="block news-page">
    <header class="post__header">
        <div class="container">
            <div class="row">

                <div class="s-title about-page-title">
                    <h4>{{ .Title }}</h4>
                    <div class="title-line">
                        <hr class="t-line">
                        <hr class="b-line">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 news-card">
                <div class="news-card-date">
                    <span>April 2020</span>
                </div>
                <div class="news-card-content">
                    <div class="content">
                        BioDati donates BioDati Studio to CoronaWhy. CoronaWhy ideates, coordinates and
                        accomplishes data analytical tasks to aid the public, the medical community and
                        policy makers in answering key questions related to COVID-19.
                        <a class="launch-btn" href="https://www.coronawhy.org/" target="_blank">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 news-card">
                <div class="news-card-date">
                    <span>June 2020</span>
                </div>
                <div class="news-card-content">
                    <div class="content">
                        Using computational biology to accelerate COVID-19 therapeutic development: Precision's Renée Deehan, VP of Computational Biology, Quartz Bio, part of Precision for Medicine, offers a proof of concept demonstrating the real-world utility of leveraging computational biology approaches to streamline translational and clinical timelines. High Resolution Modeling of COVID-19 Disease Biology.
                        <a class="launch-btn" href="https://www.biocompare.com/Media/37/Document/PFMLAB001_066-PPFM-Biocompare-COVID-August-Article.pdf" target="_blank">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ template "_internal/pagination.html" . }}
    </div>
</section>
{{ partial "contactModal.html" . }}
{{ partial "scripts.html" . }}
{{end}}