/* -------------------------------------------------------
                     phone & tablet 
-------------------------------------------------------- */
@media (max-width: 992px) {
	.navbar {
		padding-top: 0;
		padding-bottom: 0;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
	.navbar-fixed-top {
	    padding: 5px 0 20px 0;
	}
	.navbar-toggle .icon-bar {
	    background: #FFF;
	}
	.navbar-fixed-top .logo {
	    padding-top: 10px;
	}
	.navbar-fixed-top .navbar-nav>li>a {
	    color: #212121;
	}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	    max-height: 400px;
	    background-color: #FFF;
	}
	.navbar-brand {
		height: auto;
		line-height: auto;
		padding: 15px 0;
	}
	.navbar>.container .navbar-brand, 
	.navbar>.container-fluid .navbar-brand {
		padding: 15px 0;
		margin-left: 15px;
	}
	.navbar-toggle {
    	margin-top: 19px;
	}
	.fixed .navbar-nav>li {
    	margin-left: 10px;
	}
	.fixed {
		padding: 5px;
	}
	.fixed .logo {
	    padding: 10px;
	}
	.fixed .navbar-toggle .icon-bar {
	    background: #212121;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-collapse {
	    background-color: #FFF;
	}
	.navbar .navbar-nav > li > a {
	    color: #212121;
	    padding-bottom: 10px;
	}
    .about-co {
    	margin-bottom: 80px;
    }
    .skills {
    	padding-left: 15px;
    }
    .features {
    	padding: 120px 0 40px 0;
    }
    .features .feat-item {
	    margin-bottom: 80px;
	}
	.features .feat-item {
	    padding: 0;
	}
	.work .work-item {
    	width: 50%;
	}
	.tes-title {
		margin-bottom: 80px;
	}
	.tes-co {
		width: 100%;
	}
	.testimonial-box {
    	padding-left: 15px;
	}
	.price {
		padding: 120px 0 40px 0;
	}
	.price-table .item {
		margin-bottom: 80px;
	}
	.blog {
		padding: 120px 0 40px 0;
	}
	.blog-item {
		margin-bottom: 80px;
	}
	.contact .con-info {
		margin-bottom: 80px;
	}
	.contact-item {
	    margin-bottom: 30px;
	    display: inline-block;
	    width: 100%;
		padding-left: 0;
	}
	.contact-info .item {
		margin-bottom: 60px;
	}
	.contact-info .item:last-child {
		margin-bottom: 0;
	}

}

@media (max-width: 770px) {
	.work .work-item {
        width: 49.5%;
	}
}

@media (max-width: 560px) {
	.work .work-item {
    	width: 96%;
	}
	.work .filter-work a {
	    margin-bottom: 15px;
	    display: inline-block;
	}
	.tes-co {
    	display: inline-block;
	}
}

@media (max-width: 405px) {
	.s-header .middle-c h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.s-header .middle-c a {
	    margin-left: 0;
	    margin-bottom: 15px;
	}
	.sc-icon a {
		margin-bottom: 8px;
		display: inline-block;
	}
	.testimonial-box {
	    padding: 0;
	}
}

@media (max-width: 388px) {
	.s-header .middle-c a {
	    margin-left: 0;
	    margin-bottom: 15px;
	}
	.sc-icon a {
		margin-bottom: 8px;
		display: inline-block;
	}
}

@media (max-height: 600px) {
	.s-header .middle-c h1 {
	    font-size: 21px;
	    line-height: 30px;
	}
	.s-header .middle-c p {
	    font-size: 14px;
	}
	.s-header .middle-c a {
	    font-size: 11px;
	    padding: 8px 25px;
	}
}

