<!-- ====== SERVICES START ======  -->
<section class="services sections" id="services" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <!-- SECTION TITLE START -->
            <div class="s-title">
                <h4>Features</h4>
                <div class="title-line">
                    <hr class="t-line">
                    <hr class="b-line">
                </div>
            </div>
            <!-- SECTION TITLE END -->
        </div>



        <div class="row">
            <div class="serve-co">
                <!-- SERVICE ITEM -->
                <div class="serv-item col-sm-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-seedling"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>Biological Networks</h3>
                    <!-- SERVICE TEXT -->
                    <p>Build, view and share networks using a standard language <a href="https://Bel.bio">BEL</a> in an
                        open-standard format
                        <a href="http://jsongraphformat.info/">JGF</a>. Fully
                        searchable network database, find networks by network nodes, attributes and associated
                        metadata. Easy
                        import and export of networks.</p>
                </div>

                <!-- SERVICE ITEM -->
                <div class="serv-item col-sm-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>API-Driven</h3>
                    <!-- SERVICE TEXT -->
                    <p>BioDati Studio is fully API-driven providing access to all functionality and documented
                        using
                        <a href="https://swagger.io/solutions/api-documentation/">Swagger/OAS</a>. This makes it easy to
                        connect into analytics pipeline or your own
                        platforms.</p>
                </div>

                <!-- SERVICE ITEM -->
                <div class="serv-item col-sm-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-sitemap"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>Knowledge Distillation</h3>
                    <!-- SERVICE TEXT -->
                    <p>Condenses papers and databases into a contexualized and highly relevant biological
                        relationships. <a href="https://Bel.bio">BEL</a>
                        compresses biological literature into a highly readable and relatable format.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="serve-co">


                <!-- SERVICE ITEM -->
                <div class="serv-item col-sm-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-code"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>Open Standards-based</h3>
                    <!-- SERVICE TEXT -->
                    <p><a href="https://Bel.bio">BEL</a> (Biological Expression Language) is an open standard that
                        represents biology from
                        molecular to species-level scale which captures causal and non-causal relationships in biology
                        with experimental context.</p>
                </div>

                <!-- SERVICE ITEM -->
                <div class="serv-item col-sm-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>Biology Integration</h3>
                    <!-- SERVICE TEXT -->
                    <p>You can load BioDati Studio with your own BEL Nanopubs, public BEL Nanopubs and
                        databases licensed from Qiagen Ingenuity and Clarivate Analytics or BEL curation companies.</p>
                </div>

                <!-- SERVICE ITEM -->
                <div class="serv-item col-sm-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-ruler"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>EdgeStore</h3>
                    <!-- SERVICE TEXT -->
                    <p>All curated biological knowledge gets converted into a graph database for searching
                        pathways and
                        other biology relationships for use in building networks or knowledge-driven analytics.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== SERVICES END ======  -->
<section class="faqs sections" id="faqs" data-scroll-index="2">
    <div class="container-fluid">
        <div class="row">
            <h4>Have any questions?</h4>
            <a href="/faqs/" class="">Read our FAQ's</a>
        </div>
    </div>
</section>

<section class="components sections" id="components" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <!-- SECTION TITLE START -->
            <div class="s-title">
                <h4>components</h4>
                <div class="title-line">
                    <hr class="t-line">
                    <hr class="b-line">
                </div>
            </div>
            <!-- SECTION TITLE END -->
        </div>



        <div class="row">
            <div class="comp-co">
                <!-- compICE ITEM -->
                <div class="comp-item col-md-6">
                    <!-- compICE ICON -->
                    <div class="comp-icon">
                        <i class="fas fa-dna"></i>

                    </div>
                    <!-- compICE TITLE -->
                    <div class="comp-copy">
                        <h3>BEL</h3>
                        <!-- compICE TEXT -->
                        <p><a href="https://bel.bio">Biological Expression Language (BEL)</a> is an open standard
                            language for representing scientific findings in the life sciences in a computable form. BEL
                            is designed to represent scientific findings by capturing causal and correlative
                            relationships in context, where context can include information about the biological and
                            experimental system in which the relationships were observed, the supporting publications
                            cited, and the curation process used.</p>
                    </div>

                </div>

                <!-- compICE ITEM -->
                <div class="comp-item col-md-6">
                    <!-- compICE ICON -->
                    <div class="comp-icon">
                        <i class="icon-nanopub"></i>

                    </div>
                    <!-- compICE TITLE -->
                    <div class="comp-copy">
                        <h3>Nanopubs</h3>
                        <!-- compICE TEXT -->
                        <p>Nanopubs are the smallest unit of BEL knowledge. It is composed of BEL assertion(s), source
                            citation, experimental context, other annotations, and associated metadata. Nanopubs are
                            stored in a database with powerful text and data searching functionality. BioDati Studio
                            provides the most advanced BEL Nanopub editor available to create and edit Nanopubs.</p>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="comp-co">
                <!-- compICE ITEM -->

                <!-- compICE ITEM -->
                <div class="comp-item col-md-6">
                    <!-- compICE ICON -->
                    <div class="comp-icon">
                        <i class="fas fa-bars"></i>

                    </div>
                    <!-- compICE TITLE -->
                    <div class="comp-copy">
                        <h3>Edges</h3>
                        <!-- compICE TEXT -->
                        <p>The database of edges created from curated biology (BEL Nanopubs) is used as a source of
                            edges for network building (filterable by species, disease context, experimental conditions,
                            …). You can select a set of edges to insert into a new network or add to an existing
                            network. For example, find all human edges, 2 steps out from the protein AKT1 derived from
                            an experiment using lung epithelial tissue.</p>
                    </div>

                </div>

                <div class="comp-item col-md-6">
                    <!-- compICE ICON -->
                    <div class="comp-icon">
                        <i class="icon-networks"></i>

                    </div>
                    <!-- compICE TITLE -->
                    <div class="comp-copy">
                        <h3>Networks</h3>
                        <!-- compICE TEXT -->
                        <p>Networks created from BEL edges represent specific biological systems and/or states. An
                            example network could represent all known biological knowledge for a particular mechanism,
                            such as apoptosis in humans, where each edge in the network is contextualized by edge
                            metadata from one or more BEL Nanopubs.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====== SERVICES END ======  -->