

<!-- ====== SERVICES START ======  -->
<section class="services sections" id="services" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <!-- SECTION TITLE START -->
            <div class="s-title">
                <h4>Features</h4>
                <div class="title-line">
                    <hr class="t-line">
                    <hr class="b-line">
                </div>
            </div>
            <!-- SECTION TITLE END -->
        </div>
        
    

        <div class="row">
            <div class="serve-co">
                <!-- SERVICE ITEM -->
            <div class="serv-item col-md-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                            <i class="fas fa-seedling"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>Biological Networks</h3>
                    <!-- SERVICE TEXT -->
                    <p>Build, view and share networks using a standard language BEL in an open-standard format
                        JGF. Fully
                        searchable network database, find networks by network nodes, attributes and associated
                        metadata. Easy
                        import and export of networks.</p>
                </div>

                <!-- SERVICE ITEM -->
                <div class="serv-item col-md-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>API-Driven</h3>
                    <!-- SERVICE TEXT -->
                    <p>BioDati Studio is fully API-driven providing access to all functionality and documented
                        using
                        Swagger/OAS. This makes it easy to connect into analytics pipeline or your own
                        platforms.</p>
                </div>

                <!-- SERVICE ITEM -->
                <div class="serv-item col-md-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-sitemap"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>Knowledge Distillation</h3>
                    <!-- SERVICE TEXT -->
                    <p>Condenses papers and databases into a contexualized and highly relevant biological
                        relationships. BEL
                        compresses biological literature into a highly readable and relatable format.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="serve-co">

            
                <!-- SERVICE ITEM -->
                <div class="serv-item col-md-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-cat"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>Open Standards-based</h3>
                    <!-- SERVICE TEXT -->
                    <p>BEL (Biological Expression Language) is an open standard that represents biology from
                        molecular to species-level scale which captures causal and non-causal relationships in biology with experimental context.</p>
                </div>

                <!-- SERVICE ITEM -->
                <div class="serv-item col-md-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>Biology Integration</h3>
                    <!-- SERVICE TEXT -->
                    <p>You can load BioDati Studio with your own BEL Nanopubs, public BEL Nanopubs and
                        databases licensed from Qiagen Ingenuity and Clarivate Analytics or BEL curation companies.</p>
                </div>

                <!-- SERVICE ITEM -->
                <div class="serv-item col-md-4">
                    <!-- SERVICE ICON -->
                    <div class="serv-icon">
                        <i class="fas fa-ruler"></i>
                    </div>
                    <!-- SERVICE TITLE -->
                    <h3>EdgeStore</h3>
                    <!-- SERVICE TEXT -->
                    <p>All curated biological knowledge gets converted into a graph database for searching
                        pathways and
                        other biology relationships for use in building networks or knowledge-driven analytics.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== SERVICES END ======  -->