

<!-- ====== QUOTE START ======  -->
<section class="focus">
        <div class="focus-overlay sections">
            <div class="container">
                <div class="row">


                    <div class="s-title">
                        <h4>Focus Areas</h4>
                        <div class="title-line">
                            <hr class="t-line">
                            <hr class="b-line">
                        </div>
                    </div>
                    <div class="focus-co">
                        <!-- SERVICE ITEM -->
                    <div class="focus-item col-md-3">
                            <!-- SERVICE ICON -->
                            <div class="focus-icon focus-icon-leaf">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <!-- SERVICE TITLE -->
                            <h3>Biologists</h3>
                            <!-- SERVICE TEXT -->
                            <div class="card-body">
                                <ul>
                                    <li>Understand large-scale data experiments</li>
                                    <li>World's largest possible collection of biological knowledge.</li>
                                    <li>Map your experimental data onto your personal knowledgebase</li>
                                    <li>Create customized networks</li>
                                </ul>
                            </div>
                        </div>
        
                        <!-- SERVICE ITEM -->
                        <div class="focus-item col-md-3">
                            <!-- SERVICE ICON -->
                            <div class="focus-icon focus-icon-flask">
                                    <i class="fas fa-prescription-bottle-alt"></i>
                            </div>
                            <!-- SERVICE TITLE -->
                            <h3>bioPharma</h3>
                            <!-- SERVICE TEXT -->
                            <div class="card-body">
                                <ul>
                                    <li>Faster cycle times to integrate research results into treatments</li>
                                    <li>Enhance drug target evaluation</li>
                                    <li>Better model organism vs human biology analysis</li>
                                    <li>Understand toxicity and adverse event findings</li>
                                </ul>
                            </div>
                        </div>
        
                        <!-- SERVICE ITEM -->
                        <div class="focus-item col-md-3">
                            <!-- SERVICE ICON -->
                            <div class="focus-icon focus-icon-heart">
                                <i class="fas fa-heart"></i>
                            </div>
                            <!-- SERVICE TITLE -->
                            <h3>Disease Foundations</h3>
                            <!-- SERVICE TEXT -->
                            <div class="card-body">
                                <ul>
                                    <li>Build and share a comprehensive disease knowledge base</li>
                                    <li>Drive new disease hypothesis generation and evaluation</li>
                                    <li>Distribute disease knowledge faster and further</li>
                                    <li>Convert knowledge into cures</li>
                                </ul>
                            </div>
                        </div>
                        <!-- SERVICE ITEM -->
                        <div class="focus-item col-md-3">
                            <!-- SERVICE ICON -->
                            <div class="focus-icon focus-icon-cap">
                                <i class="fas fa-graduation-cap"></i>
                            </div>
                            <!-- SERVICE TITLE -->
                            <h3>Academia</h3>
                            <!-- SERVICE TEXT -->
                            <div class="card-body">
                                <ul>
                                    <li>Extend biological knowledge and share it</li>
                                    <li>Publish new knowledge as Nanopubs</li>
                                    <li>Share and collaborate using network-based hypothesis</li>
                                    <li>Easily collaborate with other labs - integrate knowledgebases</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                            

                </div>
            </div>
        </div>
    </section>
    <!-- ====== QUOTE END ======  -->

<script>
        window.intercomSettings = {
          app_id: "q01vyayo"
        };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/q01vyayo';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>