<section class="container-fluid section-focus-areas pb-5"
    style="background-image: url({{$.Site.BaseURL}}/img/bg-network.png)">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="focus-areas-title text-center mt-5 mb-5">Focus Areas</h2>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>Biologists</h3>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Understand large-scale data experiments</li>
                                <li>World's largest possible collection of biological knowledge.</li>
                                <li>Map your experimental data onto your personal knowledgebase</li>
                                <li>Create customized networks</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>bioPharma</h3>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Faster cycle times to integrate research results into treatments</li>
                                <li>Enhance drug target evaluation</li>
                                <li>Better model organism vs human biology analysis</li>
                                <li>Understand toxicity and adverse event findings</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>Disease Foundations</h3>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Build and share a comprehensive disease knowledge base</li>
                                <li>Drive new disease hypothesis generation and evaluation</li>
                                <li>Distribute disease knowledge faster and further</li>
                                <li>Convert knowledge into cures</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>Academia</h3>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Extend biological knowledge and share it</li>
                                <li>Publish new knowledge as Nanopubs</li>
                                <li>Share and collaborate using network-based hypothesis</li>
                                <li>Easily collaborate with other labs - integrate knowledgebases</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>