
<!-- =========    FOOTER START    ======== -->
<footer class="sections">
  <div class="container">
    <div class="row">

      <!-- START RIGHTS -->
      <div class="sub-footer">
        <span>            Copyright &copy; 2020 BioDati, Inc.<br /> All rights reserved. <span>|</span> Designed &amp; Developed by
        {{ range .Site.Menus.footer }}
       
          <a href="{{ .URL }}">{{ .Name }}</a>
   
        <span>|</span>
        {{ end }}</span>
      </div>


    </div>
  </div>
</footer>
<!-- =========    FOOTER END    ======== -->