<footer class="container-fluid section-footer">
    <div class="row">
        <div class="container">
            <div class="row">
                <article class="col-xs-12">
                    <p>
                        Copyright &copy; 2018 BioDati, Inc.
                        <br class="visible-xs" /> All rights reserved.
                        <span>|</span> Designed &amp; Developed by
                        <a href="http://www.adsworks.com" target="_blank">ADSWORKS</a>
                        <span>|</span>
                        <a href="privacy-policy.html">Privacy Policy</a>
                        <span>|</span>
                        <a href="cookies.html">Cookies Policy</a>
                    </p>
                </article>
            </div>
        </div>
    </div>
</footer>