<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta itemprop="description" content="http://biodati.com/." />
  <meta itemprop="image" content="http://www.biodati.com/img/brand_logo.png" />

  <meta
    property="og:title"
    content="BioDati, Inc. - Data integration, analysis, visualization and collaboration"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.biodati.com" />
  <meta
    property="og:image"
    content="http://www.biodati.com/img/brand_logo.png"
  />
  <meta
    property="og:description"
    content="BioDati Studio is browser based software platform for manipulating all types of biological networks."
  />
  <meta property="og:site_name" content="BioDati, Inc." />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@bio_dati" />
  <meta
    name="twitter:title"
    content="BioDati, Inc. - Data integration, analysis, visualization and collaboration"
  />
  <meta
    name="twitter:description"
    content="BioDati Studio is browser based software platform for manipulating all types of biological networks."
  />
  <meta name="twitter:creator" content="@anselmo.difabio" />
  <meta
    name="twitter:image"
    content="http://www.biodati.com/img/brand_logo.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ $.Site.BaseURL }}img/bookmark-icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ $.Site.BaseURL }}img/bookmark-icons/favicon-16x16.png"
  />
  <!-- Font awesome min css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  


  <!-- OLD STYLES 
  {{ $sassStyles := resources.Get "sass/styles.scss" }}
  {{ $style := $sassStyles | resources.ToCSS }}
  {{ $sassDemo := resources.Get "sass/demo.scss" }}
  {{ $demo := $sassDemo | resources.ToCSS }}

  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <link rel="stylesheet" href="{{ $demo.Permalink }}" />-->

  <title>{{ .Site.Title }} - {{ .Title }}</title>
  

  <!-- Bootstrap -->
  {{ $bootstrap := resources.Get "css/bootstrap/bootstrap.min.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">

  <!-- ET-LINE-FONT CSS -->
  {{ $etLineFont := resources.Get "css/et-line-font/et-line-font.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $etLineFont.Permalink }}">

  <!-- MAGNIFIC POPUP CORE CSS -->
  {{ $magnific := resources.Get "css/magnific-popup/magnific-popup.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $magnific.Permalink }}">

  <!-- OWL CAROUSEL -->
  {{ $owl := resources.Get "css/owl-carousel/owl.carousel.min.css" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $owl.Permalink }}">
  {{ $owlTheme := resources.Get "css/owl-carousel/owl.theme.default.min.css" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $owlTheme.Permalink }}">

  <!-- MAIN STYLE CSS -->
  {{ $mainStyle := resources.Get "sass/styles.scss"| resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $mainStyle.Permalink }}">

  <!-- RESPONSIVE STYLE CSS -->
  {{ $responsive := resources.Get "css/responsive.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $responsive.Permalink }}">

  <!-- COLORS CSS -->
  {{ $color := resources.Get "css/colors/blue.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $color.Permalink }}">

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#253661"
      },
      "button": {
        "background": "#3cb371",
        "text": "#fff"
      }
    },
    "theme": "edgeless",
    "position": "bottom-left"
  })});
  </script>
</head>
