<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta itemprop="description" content="http://biodati.com/." />
  <meta itemprop="image" content="http://www.biodati.com/img/brand_logo.png" />

  <meta
    property="og:title"
    content="BioDati, Inc. - Data integration, analysis, visualization and collaboration"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.biodati.com" />
  <meta
    property="og:image"
    content="http://www.biodati.com/img/brand_logo.png"
  />
  <meta
    property="og:description"
    content="BioDati Studio is browser based software platform for manipulating all types of biological networks."
  />
  <meta property="og:site_name" content="BioDati, Inc." />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@bio_dati" />
  <meta
    name="twitter:title"
    content="BioDati, Inc. - Data integration, analysis, visualization and collaboration"
  />
  <meta
    name="twitter:description"
    content="BioDati Studio is browser based software platform for manipulating all types of biological networks."
  />
  <meta name="twitter:creator" content="@anselmo.difabio" />
  <meta
    name="twitter:image"
    content="http://www.biodati.com/img/brand_logo.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ $.Site.BaseURL }}img/bookmark-icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ $.Site.BaseURL }}img/bookmark-icons/favicon-16x16.png"
  />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  {{ $sassStyles := resources.Get "sass/styles.scss" }}
  {{ $style := $sassStyles | resources.ToCSS }}
  {{ $sassDemo := resources.Get "sass/demo.scss" }}
  {{ $demo := $sassDemo | resources.ToCSS }}

  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <link rel="stylesheet" href="{{ $demo.Permalink }}" />
  <title>{{ .Site.Title }} - {{ .Title }}</title>
</head>
