<section class="container-fluid section-landing" style="background-image: url({{ $.Site.BaseURL }}img/dna.jpg);">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-9 text-center rounded box">
      <h1 class="display-2">BioDati Studio</h1>
      <h2>Powering Network Biology</h2>
      <p class="lead text-light mb-5">
        for Biology, Drug R&D, Disease Foundations, Personalized Medicine
      </p>
      <button type="button" class="btn btn-main" id="btn-subscribe">
        subscribe to our mailing list
      </button>
      <br />
      <a class="btn" href="#goHere">
        <i class="fa fa-angle-down fa-4x text-light"></i>
      </a>
    </div>
  </div>
</section>