<section class="container-fluid section-landing" id="paralax-Hero">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 text-center rounded box">
      <h1 class="display-2">BioDati Studio</h1>
      <h2>Powering Network Biology</h2>
      <p class="lead text-light mb-4">
        for Biology, Drug R&D, Disease Foundations, Personalized Medicine
      </p>
      <button type="button" class="btn btn-main" id="btn-subscribe">
        <a href="#">Subscribe to our Mailing List</a>
        
      </button>
      <br />
      <a class="btn btn-toOverview" href="#goHere">
        <i class="fa fa-angle-down fa-4x text-light "></i>
      </a>
    </div>
  </div>
</section>