<section class="container-fluid section-uses-container">
    <div class="row section-uses" style="background-image: url({{$.Site.BaseURL}}/img/bg-nodes_edges.png);">
        <div class="container mb-5 mt-5">
            <div class="row uses-container">
                <div class="col-6 text-center">
                    <h2 id="uses-title">Uses</h2>
                    <p id="uses-paragraph">
                        By providing our users with an interactive and easy to use
                        platform, we allow them to focus on what is really important:
                        the science.
                    </p>
                    <div class="icons pt-5">
                        <img src="{{ $.Site.BaseURL }}/img/object-icons.png" />
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center" id="uses-list">
                    <ul>
                        <li>Causal Reasoning</li>
                        <li>Systems Biology</li>
                        <li>Biomarker Discovery</li>
                        <li>Target Validation</li>
                        <li>Toxicology</li>
                        <li>Drug Safety</li>
                        <li>Microbiome Analysis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>