<section class="container-fluid section-overview" id="goHere">
    <div class="row">
        <div class="container">
            <div class="row text-center" id="overview-demo">
                <div class="col-6">
                    <h3>Overview</h3>
                    <div class="container-video">
                        <video class="video-controls"
                            poster="https://media.biodati.com/videos/studio_overview_posterframe.png" controls>
                            <source src="https://media.biodati.com/videos/studio_overview.m4v" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-6">
                    <h3>Demo</h3>
                    <div class="container-video">
                        <video class="video-controls"
                            poster="https://media.biodati.com/videos/studio_overview_posterframe.png" controls>
                            <source src="https://media.biodati.com/videos/studio_demo2.mp4" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-main" id="btn-demo">
                        <a href="#">try the biodati studio demo!</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>