{{define "main"}}
<section id="content-block" class="block sections resource-page">
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="col-md-12">
                    <div class="s-title faq-page-title">
                        <h4>BEL Resources</h4>
                        <div class="title-line">
                            <hr class="t-line">
                            <hr class="b-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <ul>
                        <li>
                            <a href="https://language.bel.bio/" target="_blank">BEL Language Documentation</a>
                        </li>
                        <li>
                            <a href="https://forum.bel.bio/" target="_blank">Community Support - Discourse server</a>
                        </li>
                        <li>
                            <a href="https://bel-api.readthedocs.io/en/latest/glossary.html" target="_blank">Glossary</a>
                        </li>
                        <li>
                            <a href="https://github.com/belbio/bep" target="_blank">BEL Language Evolution Process</a>
                        </li>
                        <li>
                            <a href="https://bep.bel.bio/" target="_blank">BEL Enhancement Proposals</a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
{{ partial "scripts.html" . }}
{{end}}