{{define "main"}}
<section id="content-block" class="block sections platform-page">
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="col-md-12">
                    <div class="s-title platform-page-title">
                        <h4>Platform Technology</h4>
                        <div class="title-line">
                            <hr class="t-line">
                            <hr class="b-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <p class="platform-p">Our platform captures these biology assertions along with their provenance and the experimental context in nanopublications. User-curated knowledge, as exemplified by nanopublications, is then programmatically enhanced and enriched through orthologization, semantic and syntactic validation, and foundational knowledge enrichment. The end result of this is to allow for a fully connected graph of knowledge. This programmatically extended knowledge provides the foundation for the generation of biological models and prior knowledge-driven algorithmic analytics.</p>
                    <p class="platform-p">Our solution based on the open-standard language BEL provides many benefits: searchability, reusability, analytics support, integration of disparate knowledge sources. BioDati will offers users the ability to evaluate new knowledge put into the knowledge base against already existing knowledge using to-be-developed consistency algorithms. This highly coveted feature is possible with BioDati.</p>
                    <p class="platform-p">The BioDati platform will allow for iterative cycles from curation --> network model generation --> analysis while providing the biologists user-friendly collaborative tools. These tools will help groups of scientists perform and collaborate in ways they didn’t think possible before.</p>
                    <img class="platform-img" src="{{ $.Site.BaseURL }}/img/platformTech-img.png" />
                </div>
            </article>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
{{ partial "scripts.html" . }}
{{end}}