{{define "main"}}
<section id="content-block" class="block faqs-page">
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="col-md-12">
                    <div class="s-title faq-page-title">
                        <h4>Frequently Asked Questions</h4>
                        <div class="title-line">
                            <hr class="t-line">
                            <hr class="b-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <h3 class="faq-title">What is BioDati?</h3>
                    <p class="faq-p">We are a company focused on making Biology Reusable, Shareable and Computable to
                        accelerate disease research, human health and our ability to make biology serve humanity’s
                        needs.</p>
                    <h3 class="faq-title">What is a Nanopub?</h3>
                    <p class="faq-p">A Nano-publication is a small piece of a publication or assertion for sharing biological assertions
                        in a computable format with provenance and experimental context that can be combined with
                        other nanopubs to build massive knowledgebases of biology.</p>
                    <h3 class="faq-title">What is a Knowledgebase?</h3>
                    <p class="faq-p">A knowledgebase consists of knowledge representing facts about the world and an inference
                        engine that can use rules and other forms of logic to deduce new facts or highlight
                        inconsistencies. We are building the world&#39;s largest biological knowledgebase, which is by its
                        nature, computable and shareable.</p>
                    <h3 class="faq-title">Why is Provenance important?</h3>
                    <p class="faq-p">Provenance allows us to track the source and context of biological knowledge. If, for example,
                        an article is retracted, we can quickly and easily retract (reject) all nanopubs associated with
                        that article. Provenance allows us to maintain the quality of the knowledgebase.</p>
                    <h3 class="faq-title">Why is Experimental Context important?</h3>
                    <p class="faq-p">Biological data is dependent upon context- in what species, tissues, cell type, was an
                        observation made? Using what methods? There are differences between fruit flies, yeast,
                        worms, zebra fish, mice, and men, and all proteins are not expressed in all cell types. With
                        nanopubs we capture the experimental context for every observation.</p>
                    <h3 class="faq-title">What is an Open-Standards Language and why is it important for Biology?</h3>
                    <p class="faq-p">An open-standards Language, like BEL, has publicly accessible standards documents that define
                        the requirements and specifications of the language. This allows for a consistent database,
                        across multiple users. It also allows users to create their own tools for analysing the database,
                        in addition to those provided by BioDati.</p>
                    <h3 class="faq-title">Who would benefit from BioDati’s platform?</h3>
                    <p class="faq-p">The world needs biological knowledge. Our breakthrough platform for computing, reusing and sharing biological knowledge is a powerful tool across all the Life Sciences. Biologists, Disease foundations, Academia and bioPharma all benefit from the interactive and easy to use platform to accelerate their research. </p>  
                    <h3 class="faq-title">How is BioDati’s platform useful in drug discovery? </h3>
                    <p class="faq-p">With the world’s largest knowledge base in your drug discovery toolbox, the BioDati platform accelerates your drug discovery research results into treatments. Use BioDati to evaluate and enhance drug targets, to build better model organisms and identify potential toxicity and adverse events. Faster cycle times to integrate research advances the science while optimizing budget.</p>
                    <h3 class="faq-title">What type of service does BioDati provide? </h3>
                    <p class="faq-p">BioDati provides knowledge curation with quick integration with other public knowledge or prior knowledge. Our experts provide hands-on training and consultation to customize and optimize your specific research needs.</p>
                </div>
            </article>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
{{end}}